#content {
    padding-top: 10px;
}

.graph {
    width: 950px;
    height: 600px;
}

.btn-group-vertical {
    margin-top: 10px;
    width: 100%;
}

input[type=text] {
    height: 34px;
}

#dl-list button {
    overflow: hidden;
}

#dl-list .popover-content {
    word-break: break-all;
}

#dl-list code {
    white-space: normal;
}