<!DOCTYPE html>
<html>
  <head>
    <title>Browser Bat</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <div class="container" id="main">
      <div id="content"><div id="chart"></div></div>
      <div id="dock"></div>
    </div>
    <script> var DATA = {{ data }}; </script>
    <script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
    <script src="/static/js/vendor/highcharts.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/underscore-min.js"></script>
    <script src="/static/js/vendor/backbone-min.js"></script>
    <script src="/static/js/vendor/require.js" data-main="/static/js/app"></script>
  </body>
</html>
