<!DOCTYPE html>
<html>
  <head>
    <title>Browser Bat</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/highslide.css" />
    <link rel="stylesheet" href="/static/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <style>
      table { table-layout: fixed; }
      td { word-wrap: break-word; overflow: hidden; }
    </style>
  </head>
  <body>
    <div class="container" id="main">
      <h1>Browser Bat Report</h1>
      <table>
        <thead>
          <tr>
            <th style="width: 65%">URL</th>
            <th style="width: 15%">Date/time</th>
            <th>Duration</th>
            <th>Browser</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <script src="/static/js/vendor/jquery-2.0.3.min.js"></script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <script src="/static/js/vendor/jquery.dataTables.min.js"></script>
    <script src="/static/js/report.js"></script>
  </body>
</html>
